upstream fastcgi_backend {
  server ${PHP_SERVICE_NAME}:${PHP_SERVICE_PORT};
}

server {
  listen 80;
  listen 443;
  server_name ${WEB_ALIAS_DOMAIN} www.${WEB_ALIAS_DOMAIN};
  set $MAGE_ROOT /usr/share/nginx/html;
  set $MAGE_MODE ${RUN_MODE};
  set $MAGE_RUN_TYPE ${RUN_TYPE};
  set $MAGE_RUN_CODE ${RUN_CODE};

  include /magento/nginx.magento.conf;
  client_max_body_size 100M;

  error_log /var/log/nginx/error.log;
  access_log /var/log/nginx/access.log;
}
